

<!-- ===== début Header -->
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Organisation des soutenances de projets</title>
    
    <link href="../../public/css/perso_css.css" rel="stylesheet" />
    <link href="../../public/css/bootstrap.css" rel="stylesheet" />

    

    <style>
        body {
            background-color: white;
        }

        .container {
            margin-top: 80px;
            background-color: lemonchiffon;
            width: 90%;
        }
    
</style>

    <!-- Bootstrap CSS -->

<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-kj9ORcMtMYg0bIX4vq5YVvZj72aRJ9odcIcvyEc5MNE5RYDkDkUXQe78N9jtVZ9K" crossorigin="anonymous"></script>
</head>
<!-- ===== fin Header -->
